@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400&display=swap');
/*
    cor1: #58AF9C
*/

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

html, body {
    background-color: #ddd;

    display: flex;
    align-items: center;
    justify-content: center;
}

main.container {
    background-color: #fff;
    width: 70vw;
    height: 80vh;
    margin-top: 10vh;

    display: flex;
}

div#group1 {
    flex-basis: 25vw;
    background-color: #58AF9C;
    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

h2#title-group1 {
    margin-bottom: 10px;
}

p.p-group1 {
    margin-bottom: 15px;
    font-size: small;
}

button.btn-group1 {
    width: 150px;
    height: 35px;
    border: 1px solid white;
    border-radius: 30px;
    text-transform: uppercase;
    background-color: #58AF9C;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button.btn-group1:hover {
    background-color: #21584d62;
}

div#group2 {
    flex-basis: 45vw;
    padding: 20px;
    margin-top: 40px;
}

h1.title-group2 {
    color: #58AF9C;
    text-align: center;
    margin-bottom: 15px;
}

div.icon-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

a.icon {
    color: gray;
    border: 1px solid #ddd;
    border-radius: 50px;
    margin-left: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    margin-bottom: 15px;
}

i {
    margin-top: 8px;
}

p.p-group2 {
    text-align: center;
    color: gray;
    font-size: small;
    margin-bottom: 15px;
}

label {
    display: none;
}

form.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}


div.input-group {
    background-color: #ddd;
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 2px;
}

i.icon-input {
    color: gray;
    margin-left: 5px;
}

input {
    width: 300px;
    margin-left: 5px;
    border: none;
    outline: none;
    color: gray;
    background-color: #ddd;
}

button.btn-submit {
    margin-top: 15px;
    width: 150px;
    height: 30px;
    border-radius: 20px;
    text-transform: uppercase;
    font-weight: bold;
    border: none;
    color: white;
    background-color: #58AF9C;
}

button.btn-submit:hover {
    background-color: #315f55;
}